.bridal_cover {
  height: 11in; }
  .bridal_cover .bridal_cover_logo {
    text-align: center; }
    .bridal_cover .bridal_cover_logo img {
      vertical-align: middle;
      max-width: 30%; }
  .bridal_cover .bridal_cover_desc {
    text-align: center;
    font-size: 16px;
    font-weight: bold; }
  .bridal_cover .bridal_cover_image {
    text-align: center;
    height: 45%;
    margin-top: 20px; }
    .bridal_cover .bridal_cover_image img {
      max-width: 100%;
      max-height: 100%; }
  .bridal_cover .bridal_cover_footer {
    margin-top: 30px;
    text-align: center;
    font-weight: 400;
    font-size: 12px; }
