@import "~bootstrap/scss/bootstrap";
@import "~react-image-gallery/styles/scss/image-gallery.scss";

.main_container {
    // padding: 6px;
    // .navbar_container {
    //     .navbar.navbar-light.bg-light {
    //         padding: 10px 25px 5px;
    //         background-color: #f8f9f9 !important;
    //         .container-fluid {
    //             padding: 0px 0px;
    //             gap: 15px;
    //             .navbar-brand {
    //                 width: 60%;
    //                 display: flex;
    //                 align-items: center;
    //                 justify-content: center;
    //                 margin: 0;
    //                 img {
    //                     max-width: 100%;
    //                 }
    //             }

    //             .navbar-toggler {
    //                 padding: 0;
    //                 font-size: 1rem;
    //                 line-height: 1;
    //                 background-color: transparent;
    //                 border: 1px solid transparent;
    //                 border-radius: 0.25rem;
    //                 transition: box-shadow 0.15s ease-in-out;
    //             }
    //         }
    //     }
    // }

    .header {
        .navbar.navbar-expand.navbar-light.bg-light {
            padding: 10px 20px 10px;
            background-color: #f2f4f4 !important;

            .container {
                padding: 0px;
                display: flex;
                flex-direction: column;
                flex-wrap: inherit;
                align-items: center;
                justify-content: space-between;
                gap: 8px;
                .navbar-brand {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 0px;
                    margin: 0px;
                    gap: 10%;
                    img {
                        max-width: 60%;
                    }
                    .basket_button {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        width: 40%;
                        img {
                            height: 25px;
                            width: 25px;
                        }
                    }
                }
                .navbar-nav {
                    width: 100%;
                    gap: 15px;
                    padding: 10px;
                    overflow: auto;
                    .nav-link {
                        font-size: 13px;
                        background: white;
                        white-space: nowrap;
                        font-weight: 500;
                        border-radius: 57px;
                        padding: 6px 10px;
                    }
                    .nav-link.active {
                        background: #2e4053;
                        color: white;
                        font-weight: 700;
                    }
                }
            }
        }
    }
    .content {
        // padding: 8px;
        .search_components_container {
            display: flex;
            flex-direction: row;
            gap: 20px;
            z-index: 100;
            // align-items: center;
            padding: 10px 20px;
            position: sticky;
            top: 0;
            // background: white;
            // border-bottom: 1px solid grey;
            // margin: 0px 0px 10px 0px;
            background-color: #f2f4f4 !important;
            .form_field {
                max-height: 28px;
                width: 80%;
                input,
                .css-ee3byn-Select {
                    height: 28px !important;
                    min-height: 28px !important;
                    width: 100%;
                    line-height: 1.5;

                    padding: 8px 12px;
                    border: 1.5px solid #e2e2e2;
                    background-color: #fafafa;
                    font-size: 0.9rem;
                    outline: #e2e2e2;
                    height: 100%;
                    padding-right: 36px;
                    padding-right: 36px;
                    padding-right: 66px;
                }
                .css-1k0hmue-IconWrapper svg.search-icon {
                    fill: #34495e;
                }
                > ul {
                    list-style-type: none !important;
                    display: block !important;
                    padding: 5px 0px;
                    margin: 0;
                    li {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        input {
                            height: 18px;
                            width: 18px;
                        }
                        span {
                            // height: 18px;
                        }
                    }
                    li:nth-child(2) {
                        display: none;
                    }
                }
            }
            button {
                width: 20%;
                border: none;
                cursor: pointer;
            }
        }

        .selectedFilters {
            margin: 8px 0;
            > a {
                background: #fff;
                font-size: 12px;
                white-space: nowrap !important;
            }
        }
        .selected--filters--container {
            display: flex !important;
            justify-content: flex-start !important;
            align-items: center !important;
            padding: 0px 0px 0px 0px;
            width: 100%;
            max-height: 30px;
            margin: 5px 0px;
            overflow-y: hidden;
            .clear-filter-btn,
            .clear-all-btn {
                font-size: 14px;
                white-space: nowrap !important;
                margin: 4px;
                -webkit-appearance: none;
                border: none;
                border-right: 1px solid;
                outline: none;
                background: transparent;
                .clear--icon {
                    margin-left: 6px;
                    opacity: 0.7;
                }
            }
            .clear-all-btn {
                border: none !important;
                position: sticky;
                right: 0;
                background: white;
                white-space: nowrap !important;
            }
        }
        .result_status_view_option_container {
            display: flex;
            width: 100%;
            padding: 15px 20px;
            flex-direction: row;
            align-items: center;
            // background-color: #f8f9f9 !important;

            label {
                width: 70%;
                text-align: left;
                color: #34495e;
                font-weight: 600;
                font-size: 14px;
            }
            .result_view_options {
                display: flex;
                width: 30%;
                gap: 12px;
                padding: 5px;
                align-items: center;
                justify-content: flex-end;
                // margin-top: 8px;
                // border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
                img {
                    height: 16px !important;
                    width: 16px !important;
                }
                img.active {
                    height: 22px !important;
                    width: 22px !important;
                    // border: 1px solid grey;
                    // border-radius: 5px;
                    // padding: 2px;
                }
            }
        }
        .es_results {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 10px 20px 0px;
            align-items: flex-end;
            gap: 10px;
            > button,
            select {
                width: fit-content;
                border: grey;
                border-radius: 5px;
                outline: none;
                padding: 4px 10px;
            }
            > select {
                border: solid 1px;
            }

            // .List_result_container,
            .Grid_result_container,
            .Grid3_result_container,
            .Grid2_result_container {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                // margin-top: 10px;
                // padding: 5px;
                gap: 10px;

                .card {
                    height: 270px;
                    width: 320px;
                    // margin: auto;
                    padding: 10px 25px;
                    gap: 10px;
                    font-family: "Circular-Loom" !important;
                    border-radius: 0px;
                    // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    // background-color: rgba(241, 241, 241, 0.876);
                    .card-title.h5 {
                        font-size: 14px;
                        display: flex;
                        flex-direction: row !important;
                        gap: 5px !important;
                        align-items: center;
                        justify-content: center;
                        text-align: left;
                        margin: 0px !important;
                        color: #808b96;
                        font-weight: 400;
                        height: 15px;
                    }

                    .image_container {
                        height: 135px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img {
                            max-width: 50%;
                            // max-height: 40%;

                            // max-height: 100% !important;
                        }
                    }
                    .card-body {
                        padding: 0rem 0 0;
                        height: 50px;
                        color: #34495e;

                        // .card-title.h5 {
                        //     font-size: 1rem;
                        //     display: flex;
                        //     flex-direction: column;
                        //     gap: 3px;
                        //     align-items: center;
                        //     // text-align: left;
                        // }
                        .card-text {
                            // text-align: left;
                            padding: 0px 0px 0px;
                            display: flex;
                            flex-direction: column;
                            row-gap: 10px;
                            font-size: 13px;
                            .item_description {
                                font-size: 14px !important;
                                display: block !important;
                                font-weight: 500;
                                line-height: 1.5em;
                                height: 3em;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                            .item_price {
                                font-size: 17px;
                                font-weight: 800;
                            }
                        }
                    }
                    .result_action_group {
                        // display: flex !important;
                        display: none !important;
                        justify-content: flex-end;
                        align-items: center;

                        // width: 100%;
                        img {
                            height: 22px;
                            width: 22px;
                        }
                    }
                }
            }
        }
        .Grid3_result_container,
        .Grid2_result_container {
            display: flex;
            flex-direction: row !important;
            flex-wrap: wrap;
            .card {
                width: 30% !important;
                height: 190px !important;
                .image_container {
                    height: 40% !important;
                    img {
                        max-width: 80% !important;
                    }
                }
                .card-body {
                    // .card-title.h5 {
                    //     font-size: 0.75rem !important;
                    //     word-wrap: break-word;
                    //     // text-align: left;
                    // }
                    .card-text {
                        // display: none !important;
                    }
                }
            }
        }
        .Grid2_result_container {
            justify-content: space-between;
            // padding: 10px 20px !important;
            gap: 10px;
            .card {
                width: 48% !important;
                height: 250px !important;
                margin: 0px !important;
                padding: 10px !important;
                .card-title.h5 {
                    height: 30px !important;
                    font-size: 11px !important;
                    flex-wrap: wrap !important;
                    // text-align: left;
                }
                .image_container {
                    img {
                        max-width: 70% !important;
                    }
                }
                .card-body {
                    .card-text {
                        // display: block !important;
                        div.item_description,
                        div.item_price {
                            display: block !important;
                            font-size: 12px !important;
                        }
                        div.item_price {
                            font-size: 16px !important;
                        }
                        > div {
                            display: none !important;
                        }
                    }
                }
            }
        }
        .List_result_container {
            padding: 0px !important;
            gap: 6px !important;
            .card {
                width: 100% !important;
                height: 120px !important;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding: 10px 0px !important;
                margin: 0px !important;
                gap: 10px !important;
                box-shadow: none !important;
                border: none !important;
                border-radius: 0px !important ;
                border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;

                .image_container {
                    width: 25%;
                    height: 100% !important;
                    img {
                        max-width: 100% !important;
                        margin: auto;
                        // border: none !important;
                        max-height: none !important;
                    }
                }
                .card-body {
                    width: 55%;
                    height: 100% !important;
                    padding: 0px !important;
                    .card-title.h5 {
                        font-size: 12px !important;
                        display: flex;
                        flex-direction: row !important;
                        justify-content: flex-start !important;
                        gap: 5px !important;
                        align-items: center;
                        text-align: left;
                        margin: 0px !important;
                        color: #808b96;
                        font-weight: 400;
                    }
                    .card-text {
                        // text-align: left;
                        padding: 4px;
                        display: flex;
                        flex-direction: column;
                        row-gap: 15px !important;
                        font-size: 13px;
                        text-align: left;
                        color: #34495e;

                        .item_description {
                            font-size: 12px !important;
                            display: block !important;
                            font-weight: 500;
                            line-height: 1.5em;
                            height: 3em;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            // white-space: nowrap;
                        }

                        .item_price {
                            display: block !important;

                            font-size: 16px;
                            font-weight: 700;
                        }
                        > div {
                            display: none !important;
                        }
                    }
                }
                .result_action_group {
                    // display: flex !important;
                    // justify-content: flex-end;
                    // align-items: flex-end;
                    display: block !important;
                    position: relative !important;
                    width: 7%;
                    height: 100% !important;
                    img {
                        position: absolute !important;
                        bottom: 0;
                        left: 0;
                        height: 20px !important;
                        width: 20px !important;
                    }
                }
            }
        }
        .basket_container {
            .basket_close_actions {
                display: flex;
                align-items: center;
                font-size: 16px;
                /* width: 100% !important; */
                padding: 6px 2px;
                border-bottom: 1px solid grey;

                label {
                    width: 93%;
                    text-align: left;
                }
                button {
                    border: none;
                }
            }
            .basket_header,
            .basket_action_group {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                gap: 4px;
                padding: 6px;
                background-color: #f6f6f6;
                height: 65px;
                .basket_orderNo {
                    width: 20%;
                    display: flex;
                    flex-direction: column;
                    font-size: 14px;
                    font-weight: 500;
                    white-space: nowrap;
                    text-align: left;
                }
                .accordion {
                    width: 80%;
                    z-index: 10;
                    // background-color: #f6f6f6;
                    .accordion-item {
                        border: none;
                        // border-bottom: 1px solid black;
                        // border-left: 1px solid black;
                        // border-right: 1px solid black;
                        // border-radius: 0px;
                        .accordion-header {
                            .accordion-button,
                            .accordion-button:focus {
                                background: #f6f6f6 !important;
                                padding: 0px;
                                font-size: 15px;
                                font-weight: 500;
                                color: #373636 !important;
                                outline: none !important;
                                border: none !important ;
                                box-shadow: none !important;
                                // border-bottom: 1px solid #9b9b9b !important;
                                border-radius: 0px;
                                display: flex;
                                flex-direction: row;
                                align-items: flex-start;
                                justify-content: space-evenly;
                                gap: 8px;
                                .accordion {
                                    width: 35%;
                                    .accordion-item {
                                        background: #f6f6f6 !important;
                                        border: none !important;
                                        .accordion-header {
                                            .accordion-button,
                                            .accordion-button:focus {
                                                background: #f6f6f6 !important;
                                                padding: 0px;
                                                font-size: 15px;
                                                font-weight: 500;
                                                color: #373636 !important;
                                                outline: none !important;
                                                border: none !important ;
                                                box-shadow: none !important;
                                                // border-bottom: 1px solid #9b9b9b !important;
                                                border-radius: 0px;
                                                display: flex;
                                                flex-direction: row;
                                                align-items: flex-start;
                                                justify-content: space-evenly;

                                                button {
                                                    margin: auto;
                                                    padding: 4px 5px;
                                                    color: whitesmoke !important;
                                                    border: 1px solid grey;
                                                    outline: none;
                                                    font-size: 12px !important;
                                                    font-weight: 700 !important;
                                                    white-space: nowrap;
                                                    background-color: grey !important;
                                                }
                                            }
                                            .accordion-button::after {
                                                content: "+";

                                                width: 12px;
                                                height: 12px;
                                                background-image: none;
                                                transition: none !important;
                                                transform: none !important;
                                                position: relative;
                                                color: #373636;
                                                margin: 0px;
                                            }
                                        }
                                        .accordion-body {
                                            padding: 5px 0px;
                                            width: 252px;
                                            position: absolute;
                                            left: 0px;
                                            background-color: #f6f6f6 !important;
                                            border: none !important;
                                            .basket_action_group {
                                                padding: 0px !important;
                                                gap: 6px !important;
                                                // width: 70%;
                                                flex-wrap: wrap;
                                                justify-content: flex-start;
                                                height: fit-content;
                                                button {
                                                    padding: 3px 5px;
                                                    color: whitesmoke;
                                                    border: 1px solid grey;
                                                    outline: none;
                                                    font-size: 12px;
                                                    font-weight: 700;
                                                    white-space: nowrap;
                                                    background-color: grey;
                                                }
                                            }
                                        }
                                    }
                                }

                                // border-top: 1px solid black !important;
                                button {
                                    padding: 4px 5px;
                                    color: whitesmoke;
                                    border: 1px solid grey;
                                    outline: none;
                                    font-size: 12px;
                                    font-weight: 700;
                                    white-space: nowrap;
                                    background-color: grey;
                                }
                            }
                            .accordion-button::after {
                                content: "";

                                width: 0px;
                                height: 0px;
                                background-image: none;
                                transition: none !important;
                                transform: none !important;
                                position: relative;
                                color: #373636;
                                margin: 0px;
                            }
                        }
                        .accordion-body {
                            padding: 6px 0px 0px 0px;
                            background-color: white !important;
                            border-bottom: 1px solid black;
                            border-left: 1px solid black;
                            border-right: 1px solid black;
                            border-radius: 0px;
                            .open_save_existing_container {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: flex-start;
                                height: 85px;
                                padding: 10px 10px;
                                gap: 20px;
                                .search_basket_wrapper {
                                    font-size: 13px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-around;
                                    // gap: 6px;
                                    width: 100%;
                                    label {
                                        width: 30%;
                                        text-align: left;
                                    }
                                    select {
                                        width: 65%;
                                    }
                                }
                                button {
                                    padding: 4px 5px;
                                    color: whitesmoke;
                                    border: 1px solid grey;
                                    outline: none;
                                    font-size: 12px;
                                    font-weight: 700;
                                    white-space: nowrap;
                                    background-color: grey;
                                }
                            }
                        }
                    }
                }
                button {
                    padding: 2px;
                    color: whitesmoke;
                    border: 1px solid grey;
                    outline: none;
                    font-size: 22px;
                    // font-weight: 700;
                    white-space: nowrap;
                    background-color: grey;
                }
            }
            .basket_form_details {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 7px;
                margin: 10px 0px;
                padding: 8px 0px;
                border-bottom: 1px solid grey;
                z-index: 5;
                /* border-radius: 10px; */
                // /* background: #f6f6f6;
                .basket_form_wrapper {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: center;
                    /* gap: 5px; */
                    justify-content: space-evenly;
                    label {
                        width: 25%;
                        text-align: left;
                        font-size: 14px;
                    }
                    input,
                    select {
                        width: 65%;
                        height: 22px;
                        font-size: 13px;
                    }
                }
            }
            > h5 {
                text-align: left;
                padding: 0px 0px 0px 5px;
            }
            .basket_items_container {
                padding: 10px;
                display: flex;
                gap: 15px;
                flex-direction: column;

                .item_container {
                    width: 100%;
                    height: 160px;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: center;
                    /* gap: 5px; */
                    border-bottom: 1px solid grey;
                    .item_details {
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        align-items: center;
                        height: 80%;
                        .item_image {
                            width: 25%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            img {
                                vertical-align: middle;
                                max-width: 100%;
                                /* margin: auto; */
                            }
                        }
                        .item_description {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            gap: 5px;
                            text-align: left;
                            width: 70%;
                            .item_header {
                                font-size: 13px;
                                font-weight: 600;
                                width: 100%;
                            }
                            .item_details {
                                font-size: 12px;
                                display: flex;
                                flex-direction: column;
                                gap: 3px;
                                label {
                                    width: 100%;
                                    text-align: left;
                                }
                            }
                        }
                    }
                    .item_action_group {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        height: 20%;
                        width: 100%;

                        button {
                            outline: none;
                            border: 1px solid grey;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        .single_item_container {
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding: 6px;
            .item_header_options {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                // padding: 6px;
                gap: 5px;
                h6 {
                    margin: 0;
                    width: 85%;
                    text-align: left;
                }
                img {
                    width: 5%;
                }
                button {
                    width: 5%;
                    border: none;
                    outline: none;
                    font-size: 22px;
                    background-color: white;
                }
            }
            .single_item_description {
                text-align: left;
                font-size: 16px;
            }
            .image_container {
                width: 100%;
                padding: 10px 0px 0px;
                // img {
                //     width: 80%;
                // }
                // @media (min-width: 768px) {
                //     width: 70%;
                //     margin: auto;
                // }
                .image-gallery-slides {
                    .image-gallery-image,
                    iframe,
                    video {
                        max-height: 40vh;
                        min-height: 40vh;
                        width: 100%;
                        // @media (min-width: 768px) {
                        //     max-height: 60vh;
                        // }
                    }
                    iframe,
                    video {
                        // @media (min-width: 768px) {
                        //     min-height: 60vh;
                        // }
                    }
                }
                .image-gallery-thumbnails-wrapper.thumbnails-swipe-horizontal {
                    padding: 10px;
                    // @media (min-width: 1080px) {
                    //     width: 70%;
                    //     margin: auto;
                    // }
                    .image-gallery-thumbnails {
                        display: grid;
                        .image-gallery-thumbnails-container {
                            float: left;
                            .image-gallery-thumbnail {
                                width: 52px;
                                height: 52px;
                                margin: 0px 4px;
                                @media (min-width: 768px) {
                                    width: 82px;
                                    height: 82px;
                                }
                                @media (min-width: 1440px) {
                                    width: 86px;
                                    height: 86px;
                                }
                                outline: none;
                                border: 1px solid #acacac;
                            }
                            .image-gallery-thumbnail.active,
                            .image-gallery-thumbnail:focus,
                            .image-gallery-thumbnail:hover {
                                outline: none;
                                border: 1px solid #1c3279;
                            }
                        }
                    }
                }
            }
            .single_item_price {
                margin: 10px 0px 25px 0px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                grid-column-gap: 5px;
                column-gap: 5px;

                label {
                    font-size: 32px;
                    // color: #31406f;
                    font-family: serif;
                    font-weight: bold;
                }
            }
            .single_item_details {
                // display: flex;
                // flex-direction: column;
                .accordion {
                    .accordion-item {
                        border: none;
                        // border-bottom: 1px solid black;
                        .accordion-header {
                            .accordion-button,
                            .accordion-button:focus {
                                padding: 10px 8px;
                                font-size: 15px;
                                font-weight: 500;
                                color: #373636 !important;
                                outline: none !important;
                                background: white !important;
                                border: none !important ;
                                box-shadow: none !important;
                                border-bottom: 1px solid #9b9b9b !important;
                                // border-top: 1px solid black !important;
                            }
                            .accordion-button::after {
                                content: "+";
                                width: 12px;
                                height: 12px;
                                background-image: none;
                                transition: none !important;
                                transform: none !important;
                                position: relative;
                                color: #373636;
                            }
                        }
                        .accordion-body {
                            padding: 8px;
                            h6 {
                                text-align: left;
                                padding: 0 0.5rem;
                            }
                            table {
                                max-height: 266px !important;
                                overflow: hidden;
                                tbody {
                                    tr {
                                        border: white !important;
                                        td {
                                            text-align: left;
                                            font-size: 13px;
                                            color: #373636 !important;
                                        }
                                        td:first-child {
                                            width: 35%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .es-scroll-button {
        .ScrollUpButton__Container {
            border: 5px solid lightgrey !important;
            // margin-right: 12px;
            > svg {
                fill: lightgrey;
            }
        }
    }
}

.offcanvas-bottom {
    height: 80vh !important;
    .offcanvas-header {
        padding: 1rem 1rem 0.5rem;
        .offcanvas-title.h5,
        button {
            font-size: 18px;
        }
    }

    .offcanvas-body {
        padding: 0.5rem 0.75rem;
        .accordion-item {
            border-color: white;
            background-color: #f2f4f5 !important;
            border: white;
            .accordion-header,
            .accordion-button {
                background-color: white !important;
                border: white;
                // @media (min-width: 768px) {
                //     background-color: #f2f4f5;
                // }
            }
            .accordion-button {
                padding: 0.75rem 0.75rem;
                background-color: #f2f4f5;
                // @media (min-width: 768px) {
                //     width: 70%;
                //     margin: auto;
                // }
                border-bottom: 1px solid grey !important;
                border-radius: 0px !important;
                outline: none;
                font-weight: 600 !important;
                color: black !important;
                font-size: 16px;
            }
            .accordion-button:focus {
                box-shadow: none;
                // color: #1b387d !important;
                // font-weight: 700;
                // border: white !important;
            }

            .accordion-button:not(.collapsed):after {
                background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z'/%3E%3C/svg%3E") !important;
                // border: white !important;
                // font-size: 1.5rem;
                // border: none;
            }

            .accordion-body {
                // height: 200px;
                padding: 0.5rem 0.25rem;
                background-color: white !important;
                display: flex;
                flex-direction: column;
                row-gap: 20px;
                .form_field {
                    // max-height: 34px;
                    // width: 80%;
                    h2 {
                        font-size: 15px;
                    }
                    input,
                    .css-ee3byn-Select {
                        height: 34px !important;
                        min-height: 34px !important;
                    }
                    > ul {
                        list-style-type: none !important;
                        display: block !important;
                        padding: 5px 0px;
                        margin: 0;
                        li {
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            max-height: 14px;
                            input {
                                height: 14px !important;
                                width: 14px;
                            }
                            span {
                                // height: 18px;
                                font-size: 14px;
                                margin: 0px 0px 0px 0px;
                            }
                        }
                        li:first-child {
                            display: none;
                        }
                    }
                    .css-3cr1qg-suggestionsContainer {
                        button {
                            height: 32px;
                            min-height: 32px !important;
                            font-size: 14px;
                        }
                        .filter_options_container {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 5px;
                            height: 100px;
                            overflow-y: scroll;
                            .filter_options,
                            .filter_options_active {
                                width: fit-content;
                                font-size: 11px;
                                border: 0.5px solid #eeeeee;
                                padding: 5px;
                                border-radius: 3px;
                                background-color: #eeeeee;
                                cursor: pointer;
                            }
                            .filter_options_active {
                                border: 0.5px solid black !important;
                            }
                        }
                        .subtype_filter_options_container {
                        }
                        ul {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            justify-content: flex-start;
                            gap: 10px;
                            width: 100%;
                            /* height: 100px; */
                            border: 1px solid #ccc;
                            border-top: none;
                            background-color: #fff;
                            font-size: 0.9rem;
                            z-index: 3;
                            position: absolute;
                            margin: 0;
                            padding: 0px 4px 4px;
                            list-style: none;
                            max-height: 175px;
                            // min-height: 175px;
                            overflow-y: auto;
                            input {
                                font-size: 13px;
                                position: sticky;
                                top: 0;
                                z-index: 4;
                                width: 100%;
                            }
                            li {
                                width: fit-content;
                                font-size: 12px;
                                border: 0.5px solid #eeeeee;
                                padding: 3px;
                                border-radius: 3px;
                                background-color: #eeeeee !important;
                                cursor: pointer;
                                height: fit-content;
                                display: flex;
                                gap: 6px;
                            }
                        }
                    }
                }
                .price-range {
                    margin-bottom: 8px;
                    .price-range__input {
                        display: flex;
                        align-items: baseline;
                        > div {
                            width: 30%;
                            > div {
                                > input {
                                    background: #fff;
                                    padding: 5px;
                                    @media screen and (-webkit-min-device-pixel-ratio: 0) {
                                        height: 30px;
                                    }
                                    height: 30px !important;
                                    min-height: 30px !important;
                                    font-size: 0.8rem;
                                }
                            }
                            > h2 {
                                font-size: 14px;
                                color: #58585a;
                                line-height: 20px;
                                display: block;
                                max-width: 100%;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                        .price-range__input--price-input {
                            width: 70%;
                            height: 30px;
                        }
                    }
                }
                .carat-range-input {
                    margin-bottom: 8px;
                    div > div > input {
                        background: #fff;
                        padding: 5px;
                        height: 30px !important;
                        min-height: 30px !important;
                        font-size: 0.8rem;
                    }
                    display: flex;
                    .carat-range-input__carat-slider {
                        display: flex;
                        align-items: center;
                        vertical-align: middle;
                        width: 30%;
                        h2 {
                            font-size: 14px;
                            // font-family: "Proxima Nova Regular" !important;
                            line-height: 30px;
                            color: #58585a;
                            margin: 0px;
                            display: block;
                            max-width: 100%;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                    .carat-range-input__carat-input {
                        width: 70%;
                        height: 35px;
                    }
                }
            }
            .accordion-body.selection_fields,
            .accordion-body.range_fields {
                padding: 0.5rem 0.75rem;
                background-color: white !important;
                display: flex;
                flex-direction: column;
                row-gap: 3px;
            }
        }
    }
}
.Toastify__toast-container {
    z-index: 10021 !important;
}
.css-1mnns6r {
    position: relative;
}
.Toastify__toast {
    min-height: 54px !important;
}
.Toastify__toast--default {
    background: #cecece !important;
    color: #3c3c3c !important;
}
