.main_container {
    // padding: 6px;
    .content {
        // padding: 8px;
        .search_components_container {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            // align-items: center;
            padding: 20px 16px 16px;
            position: sticky;
            top: 0;
            background: white;
            border-bottom: 1px solid grey;
            margin: 0px 0px 10px 0px;
            .form_field {
                height: 42px;
                width: 100%;
                input,
                .css-ee3byn-Select {
                    height: 42px !important;
                    min-height: 42px !important;
                }
            }
        }
        .result_container {
            display: flex;
            flex-direction: column;
            padding: 8px;
            gap: 6px;
            .item_container {
                height: 150px;
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                border: 1px solid #9a9a9a;
                border-radius: 10px;
                .item_image {
                    width: 30%;
                    margin: auto;
                    padding: 4px;
                    img {
                        max-width: 100%;
                    }
                }
                .item_details {
                    width: 70%;
                    padding: 10px;
                    text-align: left;
                    .item_serial_style {
                        h6 {
                            text-align: left;
                            font-size: 15px;
                        }
                    }
                    .item_description,
                    .item_metal,
                    .item_type_subtype {
                        font-size: 13px;
                    }
                    .item_description {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}
